* {
    font-family: "Roboto";
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

header {
    text-align: center;
    padding: 1rem;
    background-color: maroon;
    color: white;
}



@media (min-width: 768px) {

    .hero-image{
        width:100%
    }


    .aside-data,
    .aside-weather {
        position: absolute;
        width: 300px;
        z-index: 10;
        background-color: white;
        margin-top: 0;
    }

    .aside-data {
        top: 20%;
        left: 5%;
        
    }

    .aside-data h2,.aside-weather h2 {
        background-color: maroon;
        color: white;
        padding: 0.75rem;
        margin: 0;
        text-align: center;
        
    }
    .aside-weather {
        bottom: 10%;
        right: 5%;
    }

    .weather-svg {
        display:none;
    }
   
}

footer {
    text-align: center;
    color: white;
    background-color: maroon;
    padding: 1rem;
}